<div class="main">
  <!-- main menu /-->
  <div class="main-menu">
    <!--<a class="menu-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>-->
    <!--<a class="menu-item" routerLink="/account" routerLinkActive="active">Account</a>-->
    <a class="menu-item" routerLink="/contacts" routerLinkActive="active">Contacts</a>
    <!--<a class="menu-item" routerLink="/documents" routerLinkActive="active">What to Do</a>-->
    <!--<a class="menu-item" routerLink="/events" routerLinkActive="active">Events</a>-->
    <!--<a class="menu-item" routerLink="/forms" routerLinkActive="active">Forms</a>-->
    <a class="menu-item" routerLink="/rules" routerLinkActive="active">Rules</a>
  </div>
<!-- main content /-->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
