<div class="main">
  <div class="row center">
   <h3>Service Activity: {{activity.name}}</h3>
  </div>
  <!-- main menu /-->
  <div class="main-menu">
    <!--<a class="menu-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>-->
    <!--<a class="menu-item" routerLink="/account" routerLinkActive="active">Account</a>-->
    <a class="menu-link" routerLink="/contacts" routerLinkActive="active"><div class="menu-button pink">Contacts</div></a>
    <!--<a class="menu-item" routerLink="/documents" routerLinkActive="active">What to Do</a>-->
    <!--<a class="menu-item" routerLink="/events" routerLinkActive="active">Events</a>-->
    <!--<a class="menu-item" routerLink="/forms" routerLinkActive="active">Forms</a>-->
    <a class="menu-link" routerLink="/rules" routerLinkActive="active"><div class="menu-button yellow">Rules/Guidelines</div></a>
  </div>
  <!-- main content /-->
  <!--<div class="main-content">-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
</div>
